* {
    box-sizing: border-box;
}

body {
    margin: 50px;
}

.field {
    width: 500px;
    height: 500px;
    outline: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 20px #333333;
}

.excelWhite,
.excelBlack,
.nav {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 45px;
}

.excelWhite {
    background-color: white;
    outline: 1px solid black;
}

.excelBlack {
    background-color: cyan;
    outline: 1px solid black;
}

.posAfter {
    position: relative;
    top: 4px;
}

.bR:after {
    content: url(../img/bR.png);
    .posAfter;
}

.wR:after {
    content: url(../img/wR.png);
    .posAfter;
}

.bN:after {
    content: url(../img/bN.png);
    .posAfter;
}

.wN:after {
    content: url(../img/wN.png);
    .posAfter;
}

.bB:after {
    content: url(../img/bB.png);
    .posAfter;
}

.wB:after {
    content: url(../img/wB.png);
    .posAfter;
}

.bQ:after {
    content: url(../img/bQ.png);
    .posAfter;
}

.wQ:after {
    content: url(../img/wQ.png);
    .posAfter;
}

.bK:after {
    content: url(../img/bK.png);
    .posAfter;
}

.wK:after {
    content: url(../img/wK.png);
    .posAfter;
}

.bP:after {
    content: url(../img/bP.png);
    .posAfter;
}

.wP:after {
    content: url(../img/wP.png);
    .posAfter;
}